@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1e1e1e;
  background-color: white;
}

/* .ant-form-item-label>label {
  font-size: 18px;
} */

.shadow-bottom {
  box-shadow: 0 2px 1px -1px rgb(195, 190, 190);
}
